<% content_for :title do %>
  Delete <%= category_name_singular %> entry
  Account request received
<% end %>

<div id="ci_form_page">
	<% if flash[:notice] %>
		<div class="errorExplanation" id="errorExplanation">
			<%= raw flash[:notice] %>
		</div>
	<% else %>
		<h2>We have deleted your <%= category_name_singular %> listing</h2>
		<p style="font-size: large;">
			<a href="/user">Return to <b>Online Account Home</b></a>
		</p>
		<% if @current_user.admin? %>
			<p style="font-size: large;">
				<a href="/admin/<%= entry_display_name.downcase.pluralize %>/list">Return to <b>Admin-Contacts: List <%= category_name_singular %> listings</b></a>
			</p>
		<% end %>
	<% end %>
</div>
