<% content_for :title do %>
  Add a new <%= category_name_singular %>
<% end %>

<div id="ci_form_page">
	<% if flash[:notice] %>
		<div class="errorExplanation" id="errorExplanation">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if defined?(@error_messages) && !@error_messages.empty? %>
		<div class="errorExplanation" id="errorExplanation">
			<h2>Unable to update your <%= category_name_singular %> listing</h2>
			<p><%= content_tag(:ul, @error_messages.map {|m| content_tag(:li, m)}) %></p>
		</div>
	<% end %>

	<div class="ci_form">
		<%= form_for @entry, :url => { :action => 'create' } do |the_entry| %>
			<%= render(:partial => "form_fields", :locals => { :the_entry => the_entry } ) %>
			<div style="padding: 0em; margin: 0em; border: 0em; text-align: right;"></div>
			<fieldset class="ci_form_submit">
				<p style="text-align: right; font-size: 0.9em;">
					Required form fields are marked with an *
				</p>
				<p>
					<%= submit_tag "Add #{category_name_singular}" %>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="/user">Cancel</a>
				</p>
			</fieldset>
		<% end -%>
	</div>
</div>
