<p>
	<fieldset>
		<legend>Ongoing Jam/Class Information*</legend>
		<ol>
			<li style="clear: both; padding-bottom: 0.4em;">
				<label>Title:*</label>
				<%= the_entry.text_field :title, :size => 60 %>
			</li>
			<li style="clear: both; padding-bottom: 0.4em;">
				<label>Description:*</label>
				<%= the_entry.text_area :description, :rows => 6, :cols => 60 %>
			</li>
			<li style="clear: both; padding-bottom: 0.4em;">
				<label>Cost:*</label>
				<%= the_entry.text_area :cost, :rows => 3, :cols => 60 %>
			</li>
			<li style="clear: both; padding-bottom: 0.4em;">
				<label>Schedule:*</label>
				<%= the_entry.text_area :schedule, :rows => 3, :cols => 60 %>
			</li>
		</ol>
	</fieldset>
</p>

<div style="padding-left: 17em; padding-bottom: 0.8em;">
	Simple formatting codes for <i>Description</i>, <i>Cost</i> and <i>Schedule</i> fields:
	<div style="padding-left: 2em; font-size: 0.9em;">
		<code>_emphasized_</code> &#8594; <em>emphasized</em>
		<br />
		<code>*strong*</code> &#8594; <strong>strong</strong>
		<br />
		<code>"Contact":http://contactimprov.net</code> &#8594; <a href="http://contactimprov.net">Contact</a>
	</div>
</div>

<p>
	<%= render :partial => 'shared/forms/person', :object => @entry.person,
		:locals => { :prefix => 'entry[person]', :legend => 'Contact Person' } %>
</p>
<p>
	<%= render :partial => 'shared/forms/url', :object => @entry.url,
		:locals => { :prefix => 'entry[ci_url]', :legend => 'Website' } %>
</p>
<p>
	<%= render :partial => 'shared/forms/email', :object => @entry.email,
		:locals => { :prefix => 'entry[email]', :legend => 'Email Address' } %>
</p>
<p>
	<%= render :partial => 'shared/forms/phone_number', :object => @entry.phone_number,
		:locals => { :prefix => 'entry[phone_number]', :legend => 'Phone Number' } %>
</p>
<p>
	<%= render :partial => 'shared/forms/location', :object => @entry.location,
		:locals => { :prefix => 'entry[location]', :legend => 'Location*' } %>
</p>
