<% content_for :title do %>
  Change your email address
<% end %>

<div id="ci_form_page">

	<% if flash[:notice] %>
		<div class="errorExplanation" id="errorExplanation">
			<%= flash[:notice] %>
		</div>
	<% end %>


	<% if @user %>

		<%= error_messages_for :user, :header_message => 'Unable to change email address' %>

		<h2>Please choose a new email address</h2>
		<div style="margin-left: 2em; margin-bottom: 2em;">
			<p>You must enter your password in order to change your email address.</p>
			<p>
				<b>CAUTION:</b> This will change the email address that you use to log in.
			</p>
		</div>

		<div class="ci_form">
			<%= form_tag(:action => 'change_email') do %>
				<fieldset style="width: 70%;">
					<ol>
						<li>
							<label>Password:</label>
							<%= password_field_tag 'password', '', :size => 30 %>
						</li>
						<li>
							<label>New email:</label>
							<%= text_field_tag 'email', '', :size => 30 %>
						</li>
						<li>
							<label>Confirm email:</label>
							<%= text_field_tag 'email_confirmation', '', :size => 30 %>
						</li>
					</ol>
				</fieldset>
		        <fieldset class="ci_form_submit">
		                <p>
		                        <%= submit_tag 'Change my email address' %>
		                </p>
		        </fieldset>
			<% end %>
		</div>


		<% if flash[:change_successful] %>
			<div>
				<h2 id="change_successful">Your email address has been changed</h2>
			</div>
		<% end %>

	<% end %>

</div>
