<% content_for :title do %>
  Reset my password
<% end %>

<div id="ci_form_page">

	<h2>Forgot your password?</h2>

	<p>
		We can send you an email with a link that will let you reset your password.
	</p>
	<p>
		Please enter your email address in the form below.  When you submit the form,
		we will send you an email with a link that that will let you reset the password
		for your account.  This email will not contain your password.
	</p>	
	<br />

	<% if flash[:notice] %>
		<div class="errorExplanation" id="errorExplanation">
			<%= raw flash[:notice] %>
		</div>
	<% end %>

	<%= form_tag(:action => 'request_password_reset') do %>
		<b>Your email address:</b><br />
		<%= text_field_tag 'email', '', :size => 25 %>
		<br />
		<br />
		<b>Confirm your email address:</b><br />
		<%= text_field_tag 'email_confirmation', '', :size => 25 %>
		<br />
		<br />
		<%= submit_tag 'Send password reset email' %>
	<% end %>

</div>
