<% content_for :title do %>
  Edit a User
<% end %>


<% #  TODO: Most of this code is duplicated from /user/edit - refactor to minimize duplication %>

<% if flash[:notice] %>
	<div class="errorExplanation" id="errorExplanation">
		<%= raw flash[:notice] %>
	</div>
<% end %>

<% if @user && @user.person %>

	<% if defined?(@error_messages) && !@error_messages.empty? %>
		<div class="errorExplanation" id="errorExplanation">
			<h2>Unable to update your mailing address</h2>
			<p><%= content_tag(:ul, @error_messages.map {|m| content_tag(:li, m)}) %></p>
		</div>
	<% end %>

	<div class="ci_form">
		<%= form_for @user, :url => { :action => 'edit' } do |f| -%>
			<%= render :partial => 'shared/forms/person', :object => @user.person, 
					:locals => { :prefix => 'user[person]', :legend => 'Your Name' } %>
			<fieldset class="ci_form_submit">
				<p>
					<%= submit_tag 'Update' %>
				</p>
			</fieldset>
		<% end -%>
	</div>

<% end %>
